.cart.block {
  background-color: #f7f8fa;
}

.cart.block .container{
  padding: 35px;
}

.cart.block .container .cart-products,
.cart.block .container .order-summary{
    background-color: white;
    padding: 42px;
}

.cart .remove-container {
  text-align: end !Important;
}

.cart-products .cart {
  /* border-bottom:1px solid #ebebeb !important; */
  /* border-top:1px solid #ebebeb !important; */
}

.cart-products .cart .info,
.cart-products .cart .cart-table__column--price{
  text-align: start !important;
}

.cart-products .cart .info .total{
  font-weight: bold;
}

.cart-products .cart .quantity {
  margin-top: 10px;
}

.cart-products .cart .total,
.cart-products .cart .remove-container {
  position:relative
}

.cart-products .cart .total div,
.cart-products .cart .remove-container button {
  /* position:absolute; */
  /* top: 35%; */
  /* left: 50%; */
}

.all-buttons .one {
  display: flex;
  justify-content: flex-start;
  padding: 0 !important;
}

.cart__update-button{
    margin-left: 0 !important;
}

.cart__checkout-button {
    height: 38px !important; 
    padding: 10px !important;
}

.cart__checkout-button span div {
  display: inline-block;
  margin-left: 12px;
  font-size: 20px;
}

/* media screens */
@media (max-width: 767px){
  .cart-products .cart .total div {
    width: 83px;
    margin: 13px 0;
  }
}

/* Surface Duo */
@media(min-width:540px) and (max-width:550px){
  .cart-table__column--product {
    margin: 28px 0px;
    border-bottom: none !important;
  }
  .cart-table__column--total {
    margin: 4px 0px !important;
  }
  .cart-table__column--remove {
    top: 10px !important;
  }
}

/* Fold */
@media(min-width:280px) and (max-width:290px){
  .all-buttons .one a,
  .all-buttons .one button{
    font-size: 15px !important;
  }
  .all-buttons .one a{
    padding: 7px !important;
  }
  .cart__checkout-button {
    font-size: 20px !important;
    padding: 10px !important;
  }
   .cart-table__column--remove {
    left: 10px !important;
  }
}

@media(min-width:767px){
  .all-buttons {
    flex-direction: row-reverse;
  }
  .all-buttons .one{
    justify-content: flex-end;
  }
}

@media(max-width:767px){
  .all-buttons .one{
    flex-direction: row-reverse;
  }
}