.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bg-color {
  background-color: #f7f8fa;
}

.cart.block .container,
.cart.block .order-summary{
  padding: 35px;
}

.cart.block .container .cart-products{
  padding: 25px;
}

.cart.block .order-summary .card{
  padding: 12px;
}

.cart.block .order-summary .card .details{
  padding: 1px;
  color: #666666;
  font-weight: bold;
}

.cart.block .order-summary .card .details .row:first-child{
  margin-top: 10px;
}

.cart.block .order-summary .card .details .row{
  margin-bottom: 14px;
  position: relative;
}

.cart.block .order-summary .card .details .row::after{
  content: "";
  width: 95%;
  height: 3px;
  background-color: #f2f2f2;
  position: absolute;
  top: -7px;
  left: 15px;
}

.cart.block .container .cart-products{
    background-color: white;
}

.cart .remove-container {
  text-align: end !Important;
}

.cart-products .cart {
  position: relative;
  margin-bottom: 10px;
}

.cart-products .cart::after {
  content: "";
  width: 91%;
  height: 2px;
  background-color: #f2f2f2;
  position: absolute;
  top: 89px;
  left: 15px;
}

.cart-products .cart .info,
.cart-products .cart .cart-table__column--price{
  text-align: start !important;
}

.cart-table__column--image {
  width: 80px !important;
}

.cart-products .cart .info{
  padding-left: 25px;
  min-width: 300px !important;

}

.cart-products .cart .info .price{
  color: #737373;
}

.cart-products .cart .info .total{
  font-weight: bold;
}

.cart-products .cart .quantity {
  margin-top: 10px;
}

.cart-products .cart .total,
.cart-products .cart .remove-container {
  position:relative
}

.cart-products .cart .total div,
.cart-products .cart .remove-container button {
  /* position:absolute; */
  /* top: 35%; */
  /* left: 50%; */
}

.cart-products .cart .remove-container button {
  position:absolute;
  top: 15%;
  font-size: 17px;
}

.all-buttons .one {
  display: flex;
  justify-content: flex-start;
  padding: 0 !important;
}

.all-buttons .one a,
.all-buttons .one button,
.all-buttons .two{
  white-space: nowrap;
}

.all-buttons .two a {
  font-size: 18px !important;
}

.all-buttons .two div {
  display: inline !important;
  margin-inline-start:5px;
}

.cart__update-button{
    margin-left: 0 !important;
}

.cart__checkout-button {
    /* height: 38px !important;  */
    padding: 10px !important;
}

.cart__checkout-button span div {
  display: inline-block;
  margin-left: 12px;
  /* font-size: 20px; */
}

/* media screens */
@media (max-width: 767px){
  .cart.block {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }
  .cart-products .cart .total div {
    width: 83px;
    margin: 13px 0;
  }
}

/* Surface Duo */
@media(min-width:540px) and (max-width:550px){
  .cart-table__column--product {
    margin: 28px 0px;
    border-bottom: none !important;
  }
  .cart-table__column--total {
    margin: 4px 0px !important;
  }
  .cart-table__column--remove {
    top: 10px !important;
  }
}

/* Fold */
@media(min-width:280px) and (max-width:290px){
  .all-buttons .one a,
  .all-buttons .one button{
    font-size: 15px !important;
  }
  .all-buttons .one a{
    padding: 7px !important;
  }
  .cart__checkout-button {
    font-size: 20px !important;
    padding: 10px !important;
  }
   .cart-table__column--remove {
    left: 10px !important;
  }
}

@media(min-width:767px){
  .all-buttons {
    flex-direction: row-reverse;
  }
  .all-buttons .one{
    justify-content: flex-end;
  }
}

@media(max-width:767px){
  .all-buttons .one{
    flex-direction: row-reverse;
  }
}



/* Meduim screens */
@media((min-width:768px) and (max-width:913px)){
  .cart.block{
    padding: 0 !important;
  }
}