
// ---------------------------
// ------ BlockVideo  --------
// --------------------------- 


// scaleup video
.video-container {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
// scaleup video

.custom-video-player{
	// margin-top: 1rem;
	padding-bottom: 3rem;
	&__wrapper{
		// overflow: hidden;	
  width: 100%;
  height: 0;
  padding-bottom: 22%;
  position: relative;
	@media (max-width: 768px) {
  padding-bottom: 40%;
	}
	}
	&__video{
		width: 100%;
		//   width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
	object-fit: cover;
	}
}


// -------------------------
// -------- Products--------
// -------------------------

.k-product {
	padding: 1.125rem;
	width: 100%;
	position: relative;

	&:hover {
		.product-image__img {
			opacity: 0;
			transform: scale(1.15);

			&.first {
				opacity: 1;
			}
		}

		.k-product__actions {
				opacity: 1;
				transform: translateX(5px);
				path {
					fill: black !important;
					color: black !important;
					transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
				}
				.btn-light.focus, .btn-light:focus, .btn-light:hover
				{
					background: transparent !important;
					border-color: transparent !important;

				path {
					fill: $accent-color !important;
					color: $accent-color !important;
				}
				}
		}

		.button-container{
			button{
				opacity: 1;
				transform: translateY(0);
				color: white !important;
				&:hover, &:focus {
					color: white !important;
				}
			}
		}
	}

	&__img-container {
		margin-bottom: 1rem;
	}

	&__figure {
		margin-bottom: 0 !important;
		position: relative;
		overflow: hidden;
		padding: 0.5rem !important;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		background-color:#efefef !important;
	}

	.product-image__img {
		transform: scale(1);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		-o-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
		// &.first {
		// 	opacity: 0;
		// }

	}

	.k-product__actions { position: absolute;
		top: 0px;
		inset-inline-start: 0;
		opacity: 0;
		transform: translateX(-50%);
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		// background-color: rgba(#fff, 0.6);
		margin-top: 0.25rem;
		
		svg,
		path {
			fill: #3d464d !important;
			color: #3d464d !important;
		}
	}

	.button-container{
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		button{
			width: 100%;
			opacity: 0;
			transform: translateY(10px);
			-webkit-transition: all 0.5s ease-in-out;
			-moz-transition: all 0.5s ease-in-out;
			-o-transition: all 0.5s ease-in-out;
			transition: all 0.5s ease-in-out;
			border-radius: 0;
		}
	}

	&__info {
		text-align: center;
	}

	&__title {
		margin-bottom: 0.5rem;
		a {
			font-size: 1.025rem;
			font-weight: 500;

			color: black !important;
			opacity: 1;
		}
	}

	&__rating {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0.5rem;
		.review {
			font-size: 0.75rem;
			color: gray;
			margin-inline-start: 0.5rem;
		}
	}

	&__price {
		font-size: 1rem;
		font-weight: 500;
	}
}

// -------------------------
// --- Categories-----------
// -------------------------
$cm-category-box-shadow : 0 0 10px 2px rgba(0,0,0,0.2);

.cm-categories {
  .cm-category{
    text-align: center;
    margin-bottom: 1rem;
    background-color: white;
    padding: 0.5rem;
    box-shadow: 0, 0, 0m;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    
    
    &:hover {
      box-shadow: $cm-category-box-shadow;
    }
    &__figure{
        height: 334px;
				overflow: hidden;
				&:hover{
				img{
						transform: scale(1.15);
					}
				}


      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
				transform: scale(1);
				transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
      }
			
    }
    &__title{
      font-size: 1.25rem;
      color: black;
    }

  }
}


.category-item{
	text-align: center;

	figure {
		width: 100%;
		margin: 0.5rem !important;
		overflow: hidden !important;
		
		img{
		width: 100% !important;
		transform: scale(1);
		transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
			&:hover {
			transform: scale(1.15);
			}
		}
	}
	
	&__title {
		color: black;
		// color: #333;
		font-weight: 700;
		margin-bottom: 0.5rem;
		transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
&:hover{

		&__title{
			color: $accent-color;
		}
	}
}



.color__item{
  color:gray;
  font-size: 0.75rem;
  padding:  0.01rem 0.5rem;
  border: 1px solid gray;
  border-radius: 2px;
  margin-inline-end: 0.5rem;
  cursor: pointer !important;
}

html[dir="rtl"]{
	.k-product {
			.k-product__actions {
				transform: translateX(50%);
			}
		&:hover {
			.k-product__actions {
					transform: translateX(-5px);
			}
		}
	}
}
// ---------------------------
// --- Single Product Details.
// ---------------------------
.single-product .slick-slide.slick-active.slick-current > div,
.single-product .slick-slide > div
{
	background: #efefef !important;
}
.product-gallery__carousel .slick-track {
 padding-block: 0.5rem;
}
.product-gallery__carousel-item.product-image.product-gallery__carousel-item--active
{
	box-shadow: 0 0  4px 0 #333 !important;
}

.indicator.indicator--trigger--click
{
	.indicator__value
	{
						transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	}
	path {
						fill: current !important;
						color:current !important;
						transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
					}
		&:hover {
		circle,path{
			fill: $accent-color !important;
			color:$accent-color !important;
		}
		.indicator__value
		{
			background-color:$accent-color !important;

		}
	
	}
}
// ---------------------------
// ------- Loader  -----------
// --------------------------- 

// custom root
:root {
  --hue: 223px;
  --bg: hsl(var(--hue),90%,95%);
  --fg: hsl(var(--hue),90%,5%);
  --trans-dur: 0.3s;
}

.ip {
  width: 100px;
  height: 50px;
}

.ip__track {
  stroke: hsl(var(--hue),90%,90%);
  transition: stroke var(--trans-dur);
}

.ip__worm1,
.ip__worm2 {
  animation: worm1 1s linear infinite;
}

.ip__worm2 {
  animation-name: worm2;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue),90%,5%);
    --fg: hsl(var(--hue),90%,95%);
  }

  .ip__track {
    stroke: hsl(var(--hue),90%,15%);
  }
}

/* Animation */
@keyframes worm1 {
  from {
    stroke-dashoffset: 0;
  }

  50% {
    animation-timing-function: steps(1);
    stroke-dashoffset: -359;
  }

  50.01% {
    animation-timing-function: linear;
    stroke-dashoffset: 359;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes worm2 {
  from {
    stroke-dashoffset: 359;
  }

  50% {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -359;
  }
}


// ---------------------------
// ------ simple slider  -----
// --------------------------- 
$cm-slider-container: 60px;

.cm-slider{
	background-color: black;
	color: white;
	padding-inline:$cm-slider-container;
	// height
	min-height: 450px;
	

	// height: 68vh;
	padding-block: 32px;
	margin-bottom: 2rem;
	position: relative;
	@media (max-width: 768px) {
		padding-inline:1rem;
		// min-height: 625px;
		// height: 90vh;
	}
	@media (max-width: 420px) {
		padding-inline:1rem;
		// min-height: 380px;
		// height: 40vh;
	}

	&-desktop{
		display: none !important;
			@media (min-width: 769px) {
			display: flex !important;	
		}
	}

	// mobile
	&-mobile{
		display: none !important;
		@media (max-width: 768px) {
			display: flex !important;	
		}

		.cm-slider__wrapper {
			display: flex;
			overflow: hidden;
		}

		figure {width: 100%}
  }

	&__wrapper {
		display: flex;
		// min-height: 300px;
		overflow: hidden;
	}

	&__txt { 
		color:#efefef;
		font-size: 2.5rem;
		@media (max-width: 768px) {
		font-size: 1.75rem;
		}
		font-weight: bold;
		width: 35%;
		display: flex;
		align-items: center;
		padding-inline-end: 2rem;
		@media (max-width: 768px) {
			width: 50%;
		}
	}

	&__imgs {
		display: flex;
		width: 75%;
		object-fit: contain;
		@media (max-width: 768px) {
			width: 50%;
		}
		figure {
			width: 32%;
			margin-inline-end: 1%;
			@media (max-width: 768px) {
				width: 100%;
				margin-inline-end: 0 !important;
			}
			&:last-of-type{
				margin-inline-end: 0;
			}

			img{
				width: 100%;
			}
		}
	}
	
	// controllers
	&__controllers-container {
		display: flex;
		justify-content: end;
		margin-top: 1rem;
		padding-inline:$cm-slider-container;
		// position: absolute;
		// bottom: 1.25rem;
		// left: 0;
		// right: 0;

		.controller {
			border: 1px solid white;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: trnsparent !important;
			padding: 0;

			.fas{
				color: black  !important;
			}

			

			&:first-of-type {
			margin-inline-end: 1rem;
			}
		}
	}
}


// video
.video-react-video
{
	position: relative;
	&::after {
		content: "";
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 99;
		background: red;
	}

}


.block.block-banner
{
	@media 
	(max-width: 768px) {
	display: none !important;	
	}
}


// custom classes
.active-cart-item
{
	color: $accent-color !important;
	border-color: $accent-color !important;
}

html[lang="ar"]{
	.cm-slider__imgs{
		flex-direction: row-reverse;
	}
	.cm-slider__imgs figure:last-of-type{
			margin-inline-end: 1%;
	}
}

// custom share links
.share-links{
	.share-links__icon-wrapper {
			margin-inline-end: 0.75rem;
			border-radius: 50%;
			padding: 0.75rem;
			background: #000;
			transition: all 0.5s ease-in-out;
			cursor: pointer;
			&:hover{
        background: $accent-color;
			}

			&:last-of-type{
			margin-inline-end: 0;
			}

			i {
				font-size: 1.5rem;
				color: white;
			}
		}

}

html[lang="ar"] 
{
	body {
		font-family: 'Cairo', sans-serif;
	}
	.cm-slider__btns {
		flex-direction: row-reverse;
		button{
			margin-inline-end: 0;
			&:last-of-type{
			margin-inline-end: 0.5rem;
			}
		}
	}
 .cm-slider-desktop
 {
	flex-direction: row-reverse;
 }

}

